<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %m%n"/>
    </Console>
    
    <File name="LOG_FILE" fileName="cubeExplorer.log" append="false">
      <PatternLayout pattern="%d %-5p [%t] %m%n"/>
    </File>

    <Async name="ASYNC">
      <AppenderRef ref="LOG_FILE"/>
      <AppenderRef ref="CONSOLE"/>
    </Async>
  </Appenders>
    
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="info" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Logger name="cubeExplorer" level="info" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Logger name="restServices" level="info" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="ASYNC"/>
    </Root>
  </Loggers>
</Configuration>