<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %m%n"/>
    </Console>
    
    <File name="LOG_FILE" fileName="cubeExplorer.log" append="true">
      <PatternLayout pattern="%d %-5p [%t] %m%n"/>
    </File>
   
  </Appenders>
    
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="TRACE" additivity="false">
      <AppenderRef ref="LOG_FILE"/>
    </Logger>
    <Logger name="cubeExplorer" level="TRACE" additivity="false">
      <AppenderRef ref="LOG_FILE"/>
    </Logger>
    <Logger name="RestServices" level="TRACE" additivity="false">
      <AppenderRef ref="LOG_FILE"/>
    </Logger>
    <Root level="all">
      <AppenderRef ref="LOG_FILE"/>
    </Root>
  </Loggers>
</Configuration>